<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>Private page of user: <%=user.username%></h3>
    <% if (user) { %>
      <div>
        <a href="/">Index</a>
      </div>
    <% } %>

    <a href="/logout">Logout</a>

  </body>
</html>
